{{ define "header" }}
{{- if .BusStop.Description -}}
*{{ .BusStop.Description }} ({{ .BusStop.BusStopCode }})*
{{ .BusStop.RoadName }}
{{- else -}}
*{{ .BusStop.BusStopCode }}*
{{- end -}}
{{ end -}}
