{{ define "services_count" -}}
{{ if and (len .Services) (len .BusStop.Services) -}}
Showing {{ len .Services }} out of {{ len .BusStop.Services }}
{{- if gt (len .BusStop.Services) 1 }} services {{ else }} service {{ end -}}
for this bus stop.
{{- end }}
{{- end -}}
