runtime: go111

handlers:
  - url: /$
    static_files: index.html
    upload: index.html
    secure: always
  - url: /.*
    script: auto
    secure: always

env_variables:
  TELEGRAM_BOT_TOKEN: $TELEGRAM_BOT_TOKEN
  DATAMALL_ACCOUNT_KEY: $DATMALL_ACCOUNT_KEY
  GA_TID: $GA_TID
  GOOGLE_API_KEY: $GOOGLE_API_KEY
  BOT_ENVIRONMENT: "staging" or "prod"
